@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  width: 100% !important;
  max-width: 100vw !important;
  overflow-x: hidden !important; 
}

html {
  height: 100% !important;
  scrollbar-gutter: stable; 
}

body {
  min-height: 100vh !important;
  min-height: 100dvh !important;
}

main {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
}