@import "tailwindcss";

html, body {
  height: 100% !important;
  min-height: 100dvh !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-col: column;
}